body, h1, h2, h3, h4, h5, h6, span, p, a, ul, li, input, textarea{
    font-family: 'IRANSansX' !important;
}

h1 {
	font-weight: bold;
}

.ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

.menu a {
    margin-left: 40px;
    margin: 5px 3px;
    padding: 7px 14px;
    font-size: 1em;
}

.menu a:hover{
    background: #5CAF21;
    border-radius: 7px;
    color: white !important;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 1030;
}

.mobile-menu {
    display: none;
}

@media only screen and (max-width: 576px) {
    .main-title {
        padding: 0px 20px;
    }
    .text-box {
        margin-bottom: 20px;
    }
    .footer-content {
        text-align: center;
        padding-bottom: 15px;
    }
    .footer-font-size {
        font-size: 15px !important;
        padding: 5px 10px;
    }
    .mobile-menu {
        display: block;
    }
    .blog-img {
        width: 315px !important;
        border-radius: 7px 7px 0px 0px !important;
    }
    
    .blog-text {
        border-radius: 0px 0px 7px 7px !important;
        padding-bottom: 20px;
    }
    
    .side-img{
        text-align: center !important;
    }
    .single-post-image {
        width: 330px !important;
        height: 300px !important;
    }
    .post-single-text {
        width: 330px !important;
        padding: 0px;
        margin:0px
    }
    .single-post-form {
        width:100px !important;
    }
    .post-single-sidebar {
        margin-bottom: 20px !important;
    }
    .product-summary-img {
        width: 214px !important;
        height: 215px !important;
        margin-bottom: 20px;
    }
    .register-image {
        width: 340px !important;
        height: 300px !important;
    }
    .rgister-form {
        width:340px !important;
    }
  }


