body, h1, h2, h3, h4, h5, h6, span, p, a, ul, li, input, textarea{
    font-family: 'IRANSansX' !important;
}

h1 {
	font-weight: bold;
}

.ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

.menu a {
    margin-left: 40px;
    margin: 5px 3px;
    padding: 7px 14px;
    font-size: 1.15em;
}

.menu a:hover{
    background: #5CAF21;
    border-radius: 7px;
    color: white !important;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 1030;
}




